footer {
  font-size: 13px;
  background-color: #263238 !important;
  padding: 10px;
  color: white;
  overflow: hidden;
}
.cpright {
  float: left
}
.thanks {
  float: right;
}
footer a {
  color: white;
}
footer a:hover{
  color: blue;
  text-decoration: underline;
  transition: ease 1s;
}

.back {
  text-align: center;
}