/* Responsive */
@media only screen and (max-width: 1100px) {
  article {
    width: 97%;
    padding: 0px;
  }
}
@media only screen and (max-width: 382px) {
  .brand-logo {
    margin-left: -6px;
  }
}
@media only screen and (max-width: 1090px) and (min-width: 785px) {
}
@media only screen and (max-width: 784px) and (min-width: 687px) {
  .brand-logo {
    margin-left: -6px;
  }
}
@media only screen and (max-width: 686px) and (min-width: 602px) { 
  .brand-logo {
    margin-left: -6px;
  }
}
@media only screen and (max-width: 601px) and (min-width: 545px) {
  .brand-logo {
    margin-left: -6px;
  }
}
@media only screen and (max-width: 544px) and (min-width: 497px) {
  .brand-logo {
    margin-left: -6px;
  }
  footer .cpright, footer .thanks {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 496px) and (min-width: 459px) {
  .brand-logo {
    margin-left: -6px;
  }
  footer .cpright, footer .thanks {
    width: 100%;
    text-align: center;
  }
  #portofolio img {
    width: 60%;
  }
}
@media only screen and (max-width: 458px) and (min-width: 413px){
  .brand-logo {
    margin-left: -6px;
  }
  #contact {
    width: 80%
  }
  #portofolio img {
    width: 60%;
  }
  footer .cpright, footer .thanks {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 412px) and (min-width:379px){
  .brand-logo {
    margin-left: -6px;
  }
  footer .cpright, footer .thanks {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 379px) {
  nav {
    min-height: 85px
  }
  .dropdown-trigger {
    padding-top: 30px;
  }
  .dropdown-content {
    padding-top: 30px;
  }
  .brand-logo {
    margin-left: -6px;
  }
  footer .cpright, footer .thanks {
    width: 100%;
    text-align: center;
  }
}