/* Body Setting */
body,html {
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
  overflow-x: hidden;
}
h3, h4, h5 {
  text-align: center;
}

/* Article Setting */
article {
  width: 90%;
  margin: auto;
  padding: 0 50px;
}
article h5 {
  font-weight: bold;
}
article p {
  text-indent: 50px;
}

/* About Portofolio */
#about {
  padding: 70px 0; 
}

/* Team Portofolio */
#team, #portofolio {
  text-align: center;
  padding: 70px 0; 
}
#team a {
  color: black;
}
#team .col {
  margin: 10px 0;
}
#team img,#team .name, #team .descriptive {
  width: 60%;
  text-align: center;
  margin: auto
}
.name, .descriptive {
  text-align: center;
}

/* Section Portofolio */
#portofolio a {
  margin: 0 5px;
}
#portofolio .responsive-img {
  height: 200px;
  margin: auto;
}
#portofolio img {
  width: 100%;
}

/* Contact Section */
#contact {
  padding: 70px 0; 
  margin: auto
}
iframe {
  width: 100%;
  height: 400px;
}

/* Chart Section */
body#admin-container section {
  width: 100%;
  margin: 100px 0;
  margin: 100px 0px;
  text-align: center;
}
.border {
  border: 1px #eaeaea solid; 
}
h6.border {
  margin-top: -1px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 18px
}
#admin-container .border div {
  padding: 20px 0 50px;
  font-weight: bold;
  font-size: 40px;
}
#admin-container .browser-chart {
  width: 100%;
}
#admin-container .browser-chart {
  width: 100%;
}